{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Home Page</title>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'coffeeapp/bgimage.css' %}">
    <link rel="stylesheet" href="{% static 'coffeeapp/style.css' %}">
    <h2 style="position: relative; top: 50px; text-align: center; font-family:'Noteworthy',serif">Welcome to the online coffee shop.</h2>
    <br>
    <p style="position: relative; top: 50px; text-align: center; font-family:'Noteworthy',serif; font-size: 20px">You can buy the coffee you want in seconds.</p>



{% endblock %}