{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Menu</title>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'coffeeapp/productsbg.css'%}">
    <div class="row">
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/americano.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Americano</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/espresso.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Espresso</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/doppio.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Doppio</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/cappuccino.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cappuccino</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/latte.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Latte</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/mocha.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mocha</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/cortado.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cortado</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/flat-white.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Flat White</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/macchiato.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Macchiato</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/con-panna.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Con Panna</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/affogato.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Affogato</h5>
          <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="{% static 'coffeeapp/irish-coffee.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Irish Coffee</h5>
    <div style="border-radius: 2em; box-shadow: 0 5px 10px red;">
        <p><strong>5 $</strong></p>
    </div>
    <a href="#" class="btn btn-dark">Add to cart</a>
  </div>
</div>
    </div>
{% endblock %}