{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Login</title>
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'coffeeapp/login.css' %}">
    {% if form.errors %}
        <p style="text-align: center; position: relative; top: 500px; left: 50px">Your username and password didn't match. Please try again.</p>
    {% endif %} 
    <link rel="stylesheet" href="{% static 'coffeeapp/bgimage2.css'%}">
    {% if user.is_authenticated %}
        <div style="font-family: 'Avenir','sans-serif'; margin-top: 20px; text-align: center">
        <h2>Welcome {{ user.username }}</h2>
        </div>
    {% else %}
            <div class="form-signin">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <link rel="stylesheet" href="{% static 'coffeeapp/bgimage2.css'%}">
            <div class="mb-3" style="text-align: center; margin-top: 250px">
            {{ form.as_p }}
            <button style="margin-left: 70px" class="btn btn-lg btn-success" type="submit">Login</button>
            </div>
            </form>
            </div>
    {% endif %}
{% endblock %}